In [1]:
import pandas as pd

In [2]:
myname = [["vimal" , 1111],["krish" , 2222],["pop" , 3333]]

In [3]:
mydf = pd.DataFrame(data=myname , columns=["name","phone"])

In [4]:
type(mydf)

pandas.core.frame.DataFrame

In [5]:
mydf

    name  phone
0  vimal   1111
1  krish   2222
2    pop   3333

In [6]:
mydf['phone']

0    1111
1    2222
2    3333
Name: phone, dtype: int64

In [7]:
mydf.loc[0]

name     vimal
phone     1111
Name: 0, dtype: object

In [8]:
mydf.iloc[1]

name     krish
phone     2222
Name: 1, dtype: object

In [9]:
mydf.iloc[1:3 , 1]

1    2222
2    3333
Name: phone, dtype: int64